/* You can add global styles to this file, and also import other style files */
body{
    margin: 0
}

footer{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    text-align: center;
    background: transparent;
    text-shadow: -.1vw .1vw #676767;
}
